@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

$primeryTextColor: rgb(22, 22, 22);
$sekunderyTextColor: rgb(119, 119, 119);

$colorWhite: white;
$colorBlack: black;

$colorPurple: #3E2045;
$colorPurpleTrans: rgba(62, 32, 69, 0.80);
$colorBlue: #71C6B2;

$colorbg: #F4F4F4;

$pixelsTeen: 10px;

@mixin my-btn {
    border: none;
    background: $colorPurple;
    color: white;
    font-size: 0.9rem;
    padding: $pixelsTeen/1.5 $pixelsTeen*1.5;
    border-radius: 30px;
    text-transform: uppercase;

    &:hover{
        background: $colorBlue;
        color: $colorWhite;
    }
}